@CHARSET "UTF-8";
   body{
   margin:0px;
   }
   #sum{
   width:980px;
   margin:0px;
   margin-left:185px;
   }
   #tips{
   	height:30px;
   	background: #f9f9f9;
   }
   #header{
   height:145px;
   margin:0px;
   }
   #header-top{
   	height:105px;
   }
   #header-bottom{
   	height:40px;
   	background:#ff6537;
   	font-size: 16px;
    z-index: 40;
   }
   #site-logo{
   	width:82px;
   	height: 54px;
   	margin-top:-20px;
   	padding: 3px;
   	float: left;
   }
   .site-name{
   	font-size: 26px;
   	font-weight: 800;
   }
   .site-addr{
   	font-size: 15px;
   	font-weight: 400;
   	 color: #999;
   }
   #city-info{
   	width:123px;
   	float: left;
   	margin-top: 20px;
   	padding: 5px;
   }
   .city-info-name{
   	font-size: 18px;
    font-weight: 700;
    color: #000;
   }
   .city-info-toggle{
   	border: 1px solid #eee;
    padding: 2px 5px;
    font-size: 12px;
    color: #999;
    background: #fff;
   }
   #search-box{
   	float: left;
    position: relative;
    width:490px;
    height:72px;
    margin: 21px 0 0 30px;
    
  }
   .search-box-left{
   	float: left;
    margin: 0;
    padding: 6px 10px;
    border: 2px solid #ff6537;
    border-right: none;
    border-radius: 0;
    width: 376px;
    height: 42px;
    line-height: 26px;
    font-size:15px;
    outline:none;
   }
   .search-box-right{
   	float: left;
    width: 65px;
    margin: 0;
    height: 42px;
    line-height: 42px;
    border: none;
    color: #fff;
    background:#ff6537;
    cursor: pointer;
    -webkit-appearance: none;
    border-radius: 0;
    
    
   }
   .site-commitment {
    float: right;
    margin-top: 29px;
    width:230px;
    }
    .commitment-item {
    float: right;
    display: block;
    padding-left: 30px;
    height: 42px;
    }
    .commitment-item2 {
    float: right;
    display: block;
    padding-left: 20px;
    height: 42px;
    text-align: center;
    font-size: 12px;
    color: #999;
    }
    .alltypes{
    padding-left: 15px;
    width: 231px;
    height: 40px;
    line-height: 38px;
    cursor: default;
    text-align: left;
    font-weight: 400;
    color: white;
    }
    .down{
    margin-top: 20px;
    margin-left: 120px;
    font-size: 18px;
    
    }
    .site-navbar{
    	margin-top:-55px;
    margin-left: 246px;
    border-bottom: none;
    padding-left: 0;
     }
     .navbar-item-w{
     	float: left;
     }
     li{
     	list-style: none;
     }
     .navbar-item {
    position: relative;
    display: inline-block;
    padding: 10px 35px 9px;
    min-width: 54px;
    height: 21px;
    line-height: 21px;
    text-align: center;
    font-weight: 700;
   color:#fff;
    }
    #middle-top{
    margin:0px;
    padding: 0px;
    margin-top:10px;
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
    }
    .bread-nav{
    margin: 0 0 10px;
    font-size: 12px;
    color: #666;
    text-decoration: none;
    
    }
    #shop-container{
    font-size: 12px;
    width: 980px;
    margin: 5px 0 30px;
    padding-top: 5px;
    }
    .sans-serif{
    font-size: 28px;
    color: black;
    padding: 0;
    margin: 0 0 15px;
    font-weight: 700;
    }
    .shop-discription{
    font-size: 16px;
    line-height: 24px;
    color: #666;
    }
    #shopinfo-detail{
    	height: 355px;
    }
    #shopinfo-left{
    float: left;
    width: 460px;
    }
    #shopinfo-right{
    float: left;
    width: 500px;
    margin-left:20px ;
    }
    .candidates{
       margin: 10px 0;
    overflow: hidden;
    _width: 460px;
    max-width: 460px;
    _height: 51px;
    max-height: 51px;
    float: left;
    margin-right: 14px;
    }
    
    
    
    
    
    
    .price-symbol{
    font-size: 18px;
    display: inline-block;
    vertical-align: top;
    margin-top: 7px;
     padding-left:10px ;
     font-weight: 400;
    }
    .shop-discount{
    margin-bottom: 0;
    line-height: 1.5;
    }
    .shop-discount-left{
    float: left;
    font-size: 12px;
    line-height: 41px;
    padding-left: 10px;
    color: #999;
    
    }
    .shop-discount-right{
    float: left;
    color: #f76120;
    font-weight: 400;
    padding-left: 20px;
    position: relative;
    margin-top: 0px;
    }
    .shop-validtime-right{
    float: left;
    padding-left: 60px;
    position: relative;
    margin-top: -40px;
    vertical-align: bottom;
    font-size: 12px;
    line-height: 3.5;
    padding-right: 10px;
    color: #666;
    width: 450px;
    padding-bottom: 10px;
    }
    .shop-rating{
    margin-top: 10px;
    padding-top: 6px;
    padding-bottom: 6px;
    height: 20px;
    border-top: 1px solid #eee ;
    border-bottom: 1px solid #eee;
    clear: both;
    text-align: center;
    color: #999;
    }
    .shop-rating-item{
    width: 162px; 
    margin-right: 0;
    float: left;
    font-size:12px;
    }
    .vertical-divider-thin{
    border-left: 1px solid #eee;
    float: left;
    height: 20px;
    margin: 0px 0;
    }
    .shopinfo-selection-item{
    position: relative;
    display:inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 204.5px;
    line-height: 30px;
    margin: 0 5px 5px 0;
    padding-left: 8px;
    padding-right: 8px;
    color: #666;
    font-size: 12px;
    border: 1px solid #eee;
    text-decoration: none;
    }
    .shop-validtime-right .item{
    margin-right: 0px;
    display: inline-block;
    height: 34px;
    border: 1px solid #ddd;
    font-size: 18px;
    font-weight: 700;
    padding: 0 6px 2px;
    color: #666;
    background: #eee;
    cursor: pointer;
    }
    .shop-validtime-right .quantity{
    font-size: 14px;
    height: 30px;
    line-height: 32px;
    width: 40px;
    border: none;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    margin-left: -6px;
    margin-right: -6px;
    text-align: center;
    vertical-align: middle;
    margin-bottom: 2px;
    outline: none;
    }
    .shop-purchase{
    float: left;
    padding-left: 60px;
    padding-bottom: 10px;
     border-bottom: 1px solid #ddd;
    }
    .card-buy{
    width: 169px;
    height: 50px;
    border: none;
    background-color: #FF6537;
    vertical-align: top;
    font-size: 20px;
    padding: 0;
    cursor: pointer;
    border-radius: 3px;
    margin: 0 6px 0 0;
    outline: none;
    color: #fff;
    font-family: "微软雅黑";
    font-weight: 300;
    }
    .card-buy:active{
       width: 169px;
    height: 50px;
    border: none;
    background-color: #F54817;
    vertical-align: top;
    font-size: 20px;
    padding: 0;
    cursor: pointer;
    border-radius: 3px;
    margin: 0 6px 0 0;
    outline: none;
    color: #fff;
    font-family: "微软雅黑";
    font-weight: 300;
    }
    .collect{
    text-align: center;
    text-indent: 0;
    font-size: 24px;
    line-height: 48px;
    width: 64px;
    height: 50px;
    border-radius: 2px;
    background-position: initial;
    border: 1px solid #E3E3E3;;	
   vertical-align: center;
  background:-webkit-gradient(linear, 0 0, 0 bottom, from(#ccc), to(#EEEEEE));  
   display:inline-block;
    }
    .small-btn{
    display: inline-block;
    height: 13px;
    line-height: 14px;
    margin-top: 15px;
    vertical-align: top;
    font-size: 12px;
    text-decoration: none;
    color: #666;
    padding-left: 10px;
    }
    .shop-commitment{
    	float: left;
    	font-size: 12px;
    	padding-top: 10px;
    }
    .shop-commit-left{
    	color:#999;
    }
    .shop-commit-right{
    	padding-left: 30px;
    	
    }
    .shop-commit-item{
    	padding-right: 30px;
    	text-decoration: none;
    	color: #666;
    }
    #middle-tips{
    margin-bottom: 30px;
    margin-top: 30px;
    border: 1px solid #eee;
    width: 702px;
    background-position: 0 center;
    background-repeat: no-repeat;
    background-image:url(img/通知 (1).png);
    }
   
    .middle-tips-text{
    color: #666;
    padding: 30px;
    margin-left: 180px;
    border-left: 1px solid #eee;
   
    }
    #site-navbar2{
    position: relative;
    box-shadow: inset 0 0 0 1px #ddd;
    border: 1px solid #eee;
    height: 41px;
    line-height: 41px;
    background-color: #f9f9f9;
    width: 702px;
    }
    #site-navbar2 li{
    float: left;
    width: 131px;
    text-align: center;
    border-right: 1px solid #eee;
    }
    .tab-item{
    color: #666;
    display: block;
    position: relative;
    text-decoration: none;
    margin-top: -15px;
    }
    .shop-location-top{
    margin: 0;
    padding: 20px 0 0px;
    border-bottom: 2px solid #777;
    color: #333;
    font-size: 18px;
    font-weight: 700;
    }
    .shop-location-bottom{
    	height: 300px;
    	border-bottom: 1px solid #ddd;
    }
    .shop-location-left{
    	width: 385px;
    	float: left;
    	border-right: 1px solid #ddd; 	
    }
    .shop-location-right{
    	margin-left: 10px;
    	float: left;
    }
    .info-title{
    position: relative;
    height: 20px;
    padding-right: 15px;
    line-height: 20px;
    color: lightseagreen;
    margin-top: 0px;
    margin-bottom: 0px;
    }
    .map{
    	font-size: 12px;
    	text-align: center;	
    }
    .map a{
    	text-decoration: none;
    	color: #666;
    }
    .info-content{
    width:305px;
        margin-top: 5px;
    min-height: 60px;
    color: #666;
    font-size: 12px;
    padding-bottom: 0px;
    }
    .info-content-item{
    	margin-top: 7px;
    }
    #purchasenotes dl{
    margin-top: 0;
    border-bottom: 1px solid #eee;
    background: #f9f9f9;
    }
    #purchasenotes dt{
    padding: 8px 10px;
    text-align: left;
    line-height: 24px;
    min-height: 24px;
    border-top: 1px solid #eee;
    float:left;
    font-weight: 700;
    width: 140px;
    color: #666;
    }
     #purchasenotes dd{
     margin-left: 160px;
    background: #fff;
    border-left: 1px solid #eee;
    padding: 8px 10px;
    text-align: left;
    line-height: 24px;
    font-size: 15px;
    min-height: 24px;
    border-top: 1px solid #eee;
    display: block;
    color: #666;
    word-break: break-all;
    word-wrap: break-word;
    white-space: pre-wrap;
     }
     #shop-location,#purchasenotes,#shoppings,#shop-intro,#shop-commitment{
     width: 702px;
     }
     .deal-menu { width:702px; margin-top:0px; border:none; font-size:14px; color:#222; }
    .deal-menu .name { width:auto; text-align:left; border-left:none; }
    .deal-menu .price { width:15%; text-align:center; }
    .deal-menu .amount { width:15%; text-align:center; }
    .deal-menu .subtotal { width:15%; text-align:right; border-right:none; font-family: arial, sans-serif; }
    .deal-menu caption, .deal-menu th, .deal-menu td { padding:8px 10px; background:#FFF; border:1px solid #E8E8E8; border-top:none; word-break:break-all; word-wrap:break-word; }
    .deal-menu caption { background:#F0F0F0; }
    .deal-menu caption .title, .deal-menu .subline .title { font-weight:bold; }
    .deal-menu th { color:#333; background:#F0F0F0; font-weight:bold; border-left-style:none; border-right-style:none;}
    .deal-menu td { color:#666; border-left-style:none; border-right-style:none; border-bottom-style:dotted; }
    .deal-menu .subline { background:#fff; text-align:center; border-left:none; border-right:none; }
    .deal-menu .subline-left { width:22%; text-align:left;border-right: 1px #e8e8e8 dotted; }
    .deal-menu-summary { padding:0 10px 10px; text-align:right; border-bottom:1px #e8e8e8 solid;font-size: 15px;color: #666; }
    .deal-menu-summary .worth { display:inline-block; min-width:10px; _width:10px; padding-right:20px; text-align:left; word-break:normal; word-wrap:normal; }
    .deal-menu-summary .price { color:#ea4f01; padding-right:0; font-weight:bold; }
    #content .deal-menu .title { padding-left:0; }
    .inline-block {display: inline-block;zoom: 1;}
    .ps_16 {width: 10px;height: 17px;vertical-align: text-bottom;}
    .ps_16p {width: 5px;}
     
     
     
     
     .site-outer {
    width: 100%;
    background: #fff;
    border-bottom: 1px solid #ddd;
    }
    .site-info {
    border-top: 3px double #EEE;
    margin: 0 auto;
    font-size: 12px;
    clear: both;
    width: 972px;
    }
    .site-info__item {
    float: left;
    padding-top: 20px;
    padding-bottom: 35px;
    width: 18.5%;
    min-height: 160px;
    
    }
    .site-info__item a {
    color: #999;
    font-size: 12px;
    text-decoration: none;
   padding-left: -30px;
    }
    .site-info__item li {
   padding:5px;
   margin-left: -45px;
    }
    .store_map{
    cursor:pointer; 
    color: lightseagreen;
     text-decoration: none;
    margin-left: 42px; 
    
    }
    .discount_input{
         border: 0px;
    width: 15px;
    font-size: 22px;
    color: #ff6537;
   
    }
   .perprice_input{
        border: 0px;
    max-width:29px;
    font-size: 15px;
    color: #ff6537;
    margin-left: 3px;
   
   }
    